.about-project {
  background-color: #ffffff;
  padding: 110px 0 106px 0;
  box-sizing: border-box;
}

.about-project__title-container {
  margin: 0 0 70px 0;
}

.about-project__info-container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 0 0 110px 0;
}

.about-project__info-block {
  max-width: 550px;
  width: 100%;
}

.about-project__diagram {
  max-width: 1140px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 36px);
}

.about-project__subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0 0 26px 0;
}

.about-project_paragraph {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0em;
  margin: 0;
}
.about-project__diagram-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-project__diagram-block_size_s {
  background-color: #2be080;
}
.about-project__diagram-block_size_l {
  background-color: #f2f2f2;
}

.about-project__diagram-subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0em;
  margin: 0;
}

.about-project__diagram-caption {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0px;
  color: #a0a0a0;
  margin: 9px 0 0 0;
}

@media screen and (max-width: 1200px) {
  .about-project__info-container {
    max-width: 990px;
  }
  .about-project__diagram {
    max-width: 990px;
  }
}

@media screen and (max-width: 1025px) {
  .about-project__info-container {
    max-width: 910px;
  }
  .about-project__diagram {
    max-width: 910px;
  }
}

@media screen and (max-width: 950px) {
  .about-project__info-container {
    max-width: 855px;
  }
  .about-project__diagram {
    max-width: 855px;
  }
}

@media screen and (max-width: 895px) {
  .about-project__info-container {
    max-width: 815px;
  }
  .about-project__diagram {
    max-width: 815px;
  }
}

@media screen and (max-width: 842px) {
  .about-project__info-container {
    max-width: 668px;
  }
  .about-project__diagram {
    max-width: 668px;
  }
}

@media screen and (max-width: 790px) {
  .about-project {
    padding: 90px 0 86px 0;
  }
  .about-project__title-container {
    margin: 0 0 70px 0;
  }
  .about-project_paragraph {
    font-size: 12px;
    line-height: 1.5;
  }
  .about-project__info-block {
    max-width: 319px;
  }
  .about-project__info-container {
    max-width: 668px;
    margin: 0 0 88px 0;
  }
  .about-project__diagram {
    max-width: 668px;
    grid-template-columns: 140px 1fr;
  }
}

@media screen and (max-width: 720px) {
  .about-project__info-container {
    max-width: 648px;
  }
  .about-project__diagram {
    max-width: 648px;
  }
}

@media screen and (max-width: 690px) {
  .about-project__info-container {
    max-width: 628px;
  }
  .about-project__diagram {
    max-width: 628px;
  }
}

@media screen and (max-width: 670px) {
  .about-project__info-container {
    max-width: 608px;
  }
  .about-project__diagram {
    max-width: 608px;
  }
}

@media screen and (max-width: 640px) {
  .about-project__info-container {
    max-width: 578px;
  }
  .about-project__diagram {
    max-width: 578px;
  }
}

@media screen and (max-width: 620px) {
  .about-project__info-container {
    max-width: 558px;
  }
  .about-project__diagram {
    max-width: 558px;
  }
}

@media screen and (max-width: 600px) {
  .about-project__info-container {
    max-width: 538px;
  }
  .about-project__diagram {
    max-width: 538px;
  }
}

@media screen and (max-width: 570px) {
  .about-project__info-container {
    max-width: 508px;
    flex-direction: column;
    margin: 0 0 60px 0;
  }
  .about-project__info-block {
    max-width: 508px;
    margin: 0 0 56px 0;
  }
  .about-project__diagram {
    max-width: 508px;
  }

}
@media screen and (max-width: 540px) {
  .about-project__info-container {
    max-width: 478px;
  }
  .about-project__diagram {
    max-width: 478px;
  }
}

@media screen and (max-width: 520px) {
  .about-project__info-container {
    max-width: 400px;
  }
  .about-project__diagram {
    max-width: 400px;
  }
}

@media screen and (max-width: 435px) {
  .about-project__info-container {
    max-width: 340px;
  }
  .about-project__diagram {
    max-width: 340px;
  }
}


@media screen and (max-width: 360px) {
  .about-project {
    padding: 70px 0 70px 0;
  }

  .about-project__title-container {
    margin: 0 0 60px 0;
  }

  .about-project__info-container {
    max-width: 284px;
  }
  .about-project__subtitle {
    margin: 0 0 16px 0;
    font-size: 18px;
    line-height: 1.22;
  }
  .about-project_paragraph {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__info-block {
    max-width: 284px;
    
  }
  .about-project__info-block:last-of-type {
    margin: 0;
  }
  .about-project__diagram {
    max-width: 284px;
    grid-template-columns: 100px 184px;
  }
  .about-project__diagram-subtitle {
    font-size: 11px;
    line-height: 1.18;
  }
  .about-project__diagram-caption {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.18;
    margin: 0 0 0 0;
  }
}
