@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

.page {
  background-color: #e5e5e5;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter;
}

.page__link {
  text-decoration: none;
}

.page__link:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.page__section {
  width: 1280px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter;
}

.page__section-title {
  margin: 0 0 23px 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.page__section-title-container {
  max-width: 1140px;
  width: 100%;
  border-bottom: 1px #000000 solid;
  line-height: 1.17;
}

.page__logo {
  width: 38px;
  height: 38px;
  background: url(../../images/logo.svg) no-repeat center;
}

/* .page__logo_header {
  margin: 0 0 0 70px;
} */
/* .page__overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  opacity: 0.3;
  background-color: #000000;
  top: 0;
  left: 0;
  position: fixed;

} */
