.portfolio {
  max-width: 1280px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter;
  padding: 2px 0 107px 0;
}

.portfolio__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: 0px;
  color: #a0a0a0;
  margin: 0 0 50px 0;
  align-self: start;
}

.portfolio__example-container {
  max-width: 1140px;
  width: 100%;
}

.portfolio__example-button {
  background: center url("../../../images/arrow.svg") no-repeat;
  background-position: bottom 4px;
  width: 29px;
  height: 29px;
}

.portfolio__example-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 18px 0;
}

.portfolio__links-list-element:last-of-type {
  margin: 0;
  border: 0;
}

.portfolio__example-element {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #000000;
  margin: 0;
}

.portfolio__example-element:last-of-type {
  margin: 0;
}

.portfolio__links-list {
  list-style-type: none;
  padding: 0;
}
.portfolio__links-list-element {
  margin: 20px 0 19px 0;
  border-bottom: 1px #e8e8e8 solid;
}

@media screen and (max-width: 1200px) {
  .portfolio {
    max-width: 990px;
    padding: 2px 0 70px 0;
  }
}

@media screen and (max-width: 1025px) {
  .portfolio {
    max-width: 910px;
  }
}

@media screen and (max-width: 950px) {
  .portfolio {
    max-width: 855px;
  }
}

@media screen and (max-width: 895px) {
  .portfolio {
    max-width: 815px;
  }
}

@media screen and (max-width: 842px) {
  .portfolio {
    max-width: 768px;
  }
}

@media screen and (max-width: 790px) {
  .portfolio__example-container {
    max-width: 668px;
  }
  .portfolio__title {
    margin: 0 0 47px 0;
  }
  .portfolio__example-element {
    font-size: 28px;
    line-height: 1.78;
  }
  .portfolio__example-button {
    background-position-y: 65%;
   
  }


}

@media screen and (max-width: 720px) {
  .portfolio__example-container {
    max-width: 648px;
  }
 
}

@media screen and (max-width: 690px) {
  .portfolio__example-container {
    max-width: 628px;
  }
 
}

@media screen and (max-width: 670px) {
  .portfolio__example-container {
    max-width: 608px;
  }
 
}

@media screen and (max-width: 640px) {
  .portfolio__example-container {
    max-width: 578px;
  }
 
}

@media screen and (max-width: 620px) {
  .portfolio__example-container {
    max-width: 558px;
  }
 
}


@media screen and (max-width: 600px) {
  .portfolio__example-container {
    max-width: 538px;
  }
 
}

@media screen and (max-width: 570px) {
  .portfolio__example-container {
    max-width: 508px;
  }
 
}

@media screen and (max-width: 540px) {
  .portfolio__example-container {
    max-width: 478px;
  }
 
}

@media screen and (max-width: 520px) {
  .portfolio__example-container {
    max-width: 400px;
  }
 
  .portfolio__example-element {
    font-size: 18px;
    line-height: 1.56;
  }
  .portfolio__example-button {
    width: 18px;
    height: 18px;
    background-position-y: top;
    background-size: 10px 10px;
  }
}

@media screen and (max-width: 435px) {
  .portfolio__example-container {
    max-width: 340px;
  }
 
}

@media screen and (max-width: 360px) {
  .portfolio {
    max-width: 320px;
    padding: 2px 0 50px 0;
  }
  .portfolio__title {
    margin: 0 0 40px 0;
    font-size: 14px;
    line-height: 1.43;
  }
  .portfolio__example-container {
    max-width: 292px;
  }
 
  .portfolio__links-list-element {
    margin: 18px 0 19px 0;
  }
}
