.portfolio {
  width: 1280px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter;
  padding: 0 0 125px 0;
}

.portfolio__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: 0px;
  color: #a0a0a0;
  margin: 0 0 50px 70px;
  align-self: flex-start;
}

.portfolio__example-container {
  width: 1140px;
}

.portfolio__example-button {
  background: url("../../../images/arrow.svg") no-repeat;
  width: 29px;
  height: 29px;
}

.portfolio__example-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #e8e8e8 solid;
  margin: 0 0 20px 0;
}

.portfolio__example-block:last-of-type {
  margin: 0;
  border: 0;
}

.portfolio__example-element {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #000000;
  margin: 0 0 19px 0;
}

.portfolio__example-block:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.portfolio__example-element:last-of-type {
  margin: 0;
}