.techs {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  background-color: #f5f5f5;
  padding: 100px 0 100px 0;
}

.techs__title {
  line-height: 1.23;
}

.techs__title-container {
  margin: 0 0 90px 0;
}

.techs__main-text {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.04em;
  margin: 0 0 26px 0;
}

.techs__paragraph-container {
  margin: 0 0 100px 0;
  width: 460px;
  text-align: center;
}

.techs__paragraph {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.04em;
  margin: 0;
}
.techs__diagram-block {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.04em;
  color: #000000;
}

.techs__diagram {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.techs__diagram-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.techs__diagram-list-element {
  margin: 0 10px 0 0;
}

.techs__diagram-list-element:last-of-type {
  margin: 0;
}

@media screen and (max-width: 790px) {
  .techs {
    padding: 90px 0 90px 0;
  }
  .techs__title-container {
    margin: 0 0 80px 0;
  }
  .techs__main-text {
    margin: 0 0 22px 0;
  }
  .techs__paragraph {
    font-size: 12px;
    line-height: 1.5;
  }
  .techs__diagram-block {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 1.25;
  }
  .techs__paragraph-container {
    margin: 0 0 83px 0;
  }
}


@media screen and (max-width: 700px) {
  .techs__diagram-list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    flex-wrap: wrap;
  }
  .techs__diagram-block {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 1.25;
    margin: 5px 5px 5px 5px;
  }
}

@media screen and (max-width: 520px) {
  .techs__diagram-list {
    width: 305px;
  }

  .techs__paragraph-container {
    max-width: 400px;
  }
}

@media screen and (max-width: 520px) {
  .techs__paragraph-container {
    max-width: 340px;
  }
}

@media screen and (max-width: 360px) {
  .techs {
    background-color: #ffffff;
    padding: 59px 0 70px 0;
  }
  .techs__title-container {
    margin: 0 0 60px 0;
  }
  .techs__main-text {
    margin: 0 0 24px 0;
    font-size: 30px;
    line-height: 1.2;
  }
  .techs__paragraph {
    font-size: 11px;
    line-height: 1.45;
  }
  .techs__paragraph-container {
    margin: 0 0 46px 0;
    max-width: 292px;
  }
  .techs__diagram-list {
    justify-content: start;
    width: 188px;
    height: 270px;
    padding: 0;
    margin: 0;
  }
  .techs__diagram-list-element {
    display: flex;
    margin: 0;
  }
  .techs__title {
    margin: 0 0 25px 0;
  }
}
