.header {
  background-color: #ffffff;
  padding: 18px 0 18px 0;
}

.header__container {
  width: 1140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__user {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0px;
  text-align: center;
  padding: 8px 20px 8px 20px;
  background-color: #F9F9F9;
  border-radius: 20px;
}
