.register {
  display: none;
  background-color: #ffffff;
  min-height: 100vh;
}

.register_opened {
  display: flex;
}

.register__input:focus + .entrance-window__breakline {
  background-color: #3456f3;
}
