.login {
    display: none;
    background-color: #ffffff;
    min-height: 100vh;
  }
  
  .login_opened {
    display: flex;
  }

  .login__label {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    margin: 0 0 5px 0;
  }

  .login__input {
    border: none;
    width: 396px;
    border-bottom: 1px #e8e8e8 solid;
    outline: none;
    margin: 0 0 35px 0;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21;
    letter-spacing: 0em;
  }

  .login__input:last-of-type {
      margin: 0 0 234px 0;
  }